<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.mybatis.user.web.dao.UserExtrainfoDao" >
 <resultMap id="BaseResultMap" type="com.spring.mybatis.user.web.entity.UserExtrainfoEntity" >
 <result column="id" property="id" jdbcType="BIGINT" />
<result column="name" property="name" jdbcType="VARCHAR" />
<result column="sex" property="sex" jdbcType="VARCHAR" />
<result column="birth" property="birth" jdbcType="VARCHAR" />
<result column="phone" property="phone" jdbcType="VARCHAR" />
<result column="status" property="status" jdbcType="TINYINT" />
<result column="remark" property="remark" jdbcType="VARCHAR" />
<result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
<result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
  id,name,sex,birth,phone,status,remark,addtime,updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_user_extrainfo
    where 
     																		  </select>
   <select id="getListByPage" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from t_user_extrainfo
    LIMIT #{offset},#{size}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_user_extrainfo
    where 
    																		  </delete>
  <insert id="insert" parameterType="com.spring.mybatis.user.web.entity.UserExtrainfoEntity" >
    insert into t_user_extrainfo (id,name,sex,birth,phone,status,remark,addtime,updatetime)
    values(
                #{id,jdbcType=BIGINT}
          ,
		      #{name,jdbcType=VARCHAR}
          ,
		      #{sex,jdbcType=VARCHAR}
          ,
		      #{birth,jdbcType=VARCHAR}
          ,
		      #{phone,jdbcType=VARCHAR}
          ,
		      #{status,jdbcType=TINYINT}
          ,
		      #{remark,jdbcType=VARCHAR}
          ,
		      #{addtime,jdbcType=TIMESTAMP}
          ,
		      #{updatetime,jdbcType=TIMESTAMP}
    	      )     
  </insert>
  <insert id="insertSelective" parameterType="com.spring.mybatis.user.web.entity.UserExtrainfoEntity" >
    insert into t_user_extrainfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
           <if test="id != null" >
        id,
      </if>	
	      <if test="name != null" >
        name,
      </if>	
	      <if test="sex != null" >
        sex,
      </if>	
	      <if test="birth != null" >
        birth,
      </if>	
	      <if test="phone != null" >
        phone,
      </if>	
	      <if test="status != null" >
        status,
      </if>	
	      <if test="remark != null" >
        remark,
      </if>	
	      <if test="addtime != null" >
        addtime,
      </if>	
	      <if test="updatetime != null" >
        updatetime,
      </if>	
	    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
           <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
	      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
	      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
	      <if test="birth != null" >
        #{birth,jdbcType=VARCHAR},
      </if>
	      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
	      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
	      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
	      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
	      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
	    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.spring.mybatis.user.web.entity.UserExtrainfoEntity" >
    update t_user_extrainfo
    <set >
          <if test="id != null" >
        id = #{id,jdbcType=BIGINT},
      </if>
	     <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
	     <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
	     <if test="birth != null" >
        birth = #{birth,jdbcType=VARCHAR},
      </if>
	     <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
	     <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
	     <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
	     <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
	     <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
	    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spring.mybatis.user.web.entity.UserExtrainfoEntity" >
    update t_user_extrainfo
    set
                id = #{id,jdbcType=BIGINT}     
          ,
		      name = #{name,jdbcType=VARCHAR}     
          ,
		      sex = #{sex,jdbcType=VARCHAR}     
          ,
		      birth = #{birth,jdbcType=VARCHAR}     
          ,
		      phone = #{phone,jdbcType=VARCHAR}     
          ,
		      status = #{status,jdbcType=TINYINT}     
          ,
		      remark = #{remark,jdbcType=VARCHAR}     
          ,
		      addtime = #{addtime,jdbcType=TIMESTAMP}     
          ,
		      updatetime = #{updatetime,jdbcType=TIMESTAMP}     
    	    where 
 																		  </update>
</mapper>