<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
    default-autowire="byName">
     	 <bean id="appTypeService" class="com.spring.mybatis.user.web.service.impl.AppTypeServiceImpl"/>
		 <bean id="userAreaService" class="com.spring.mybatis.user.web.service.impl.UserAreaServiceImpl"/>
		 <bean id="userExtrainfoService" class="com.spring.mybatis.user.web.service.impl.UserExtrainfoServiceImpl"/>
	</beans>
