- connectionURL : jdbc:mysql://10.9.128.150:3306/test?useUnicode=true&amp;characterEncoding=UTF-8
  driversClass : com.mysql.jdbc.Driver
  username : rd_test
  password : 123456
  minPoolSize : 5
  maxPoolSize : 10
  idleTimeout : 30
  queryTimeout : 10
  insertUpdateTimeout : 10

- connectionURL : jdbc:mysql://10.9.128.150:3306/test?useUnicode=true&amp;characterEncoding=UTF-8
  driversClass : com.mysql.jdbc.Driver
  username : rd_test
  password : 123456
  minPoolSize : 5
  maxPoolSize : 10
  idleTimeout : 30
  queryTimeout : 10
  insertUpdateTimeout : 10
  readonly : true
