﻿
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
body,div,dl,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td
	{
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 12px;
}

ol,ul {
	list-style: none;
}

img {
	border: 0;
}
</style>
<title></title>
</head>

<body>
<div id="header">
<div id="headerside">
<div id="logo"><a href="" title="">58同城logo</a></div>
<div id="login"></div>
</div>
</div>
<div class="content">
<div class="ico-bg">welcome</div>
$!{commonHelper.parserUrl("site1/test/index")}
</div>

</body>
</html>
