<?xml version="1.0" encoding="utf-8" ?>
<SCF>
  
  <Service id="50" maxThreadCount="150" name="demo">
    <Commmunication>
      <SocketPool autoShrink="00:00:20" bufferSize="80960" maxPoolSize="5" minPoolSize="2" nagle="true" receiveTimeout="00:00:01" sendTimeout="00:00:01" waitTimeout="00:00:01"/>
      <Protocol compressType="UnCompress" encoder="UTF-8" serialize="SCF"/>
    </Commmunication>
    <Loadbalance>
      <Server deadTimeout="00:00:20">
        <!--<add host="iqasv2-app1.service.test.58dns.org" maxCurrentUser="300" name="appiqas1" port="16079"/>--><!--测试环境-->
      </Server>
    </Loadbalance>
  </Service>
  
</SCF>
