<html>
    <head>
        <title>Spring MVC and Velocity</title>
    </head>
    <body>
        <h1>Spring MVC and Velocity</h1>
        
        my name is: $user

        <hr />
        Copyright &copy 2016 fjsh
    </body>
</html>